@charset "utf-8";

#about {
    font-size: 20px;
    padding-bottom: 100px;
    color: #354656;
}

#about>div {
    margin: 0 auto;
    max-width: 950px;
    min-width: 800px;
}

h1 {
    font-size: 45px;
    padding: 40px 5px 40px 20px;
}

a {
    color: #354656;
}

#免责声明,
#相关链接 {
    text-align: center;
    padding: 35px 5px 35px 5px;

}

#免责声明{
    font-size:18px;
}

#免责声明>p>a{
    display: block;
}

#相关链接{
    font-size: 18px;
}

#鸣谢,
#说明 {
    text-align: center;
    font-size: 22px;
    padding: 35px;
}

#免责声明>b,
#鸣谢>b,
#相关链接>b {
    font-size: 30px;
    margin: 25px 0px 25px 0px;
}